#tvContainer, #business {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

#tvContainer {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 80vh;
  border-left: none !important;
  border-right: none !important;
  border: solid white 3px;
  border-radius: 3px;
  z-index: 100;
}

#tvContainer:hover {
   border: solid #BEF202 3px;
}

#bg {
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

#business table {
    width: 100%;
    text-align: center;
    background-color: #ccc;
    border: solid white 3px;
    border-radius: 3px;
}
#business table input {
    padding: 2px;
    width: 99%;
    border: solid white 3px;
    border-radius: 3px;
}

#business table input[type=submit]:hover {
    border: solid orange 3px;
    border-top: none !important;
    border-bottom: none !important;
    cursor: pointer;
}

html,body {
  overflow-x: hidden;
}


